@if (Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-capitalize text-write" asp-area="" asp-controller="Account" asp-action="Logout">
            @Context.User.Identity.Name - Logout
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-capitalize text-write" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
