@model ProductCatalog.WebUI.ViewModels.RegisterViewModel

<h3 class="title-center subtitle-page">Registrar Usuário</h3>

<div class="row d-flex justify-content-center">
    <div class="col-md-6 offset-md-1">
        <form asp-controller="Account" asp-action="Register" method="post">
            
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Email">E-mail</label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="Password">Senha</label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="ConfirmPassword">Comfirmar Senha</label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group mt-3">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="form-control btn button-sucess">Registrar</button>
                    <a asp-controller="Home" asp-action="Index" class="form-control btn button-return mt-2">Retornar</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}