@model ProductCatalog.Application.DTOs.CategoryDTO

@{
    ViewData["Title"] = "Adicionar nova categoria";
}

<h2 class="subtitle-page text-center">@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label input-text">Nome</label>
            <div class="col-md-4">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="form-group mt-2">
            <div class="text-center">
                <button type="submit" value="Adicionar" class="btn button-success">
                    <i class="fa-solid fa-floppy-disk"></i>
                </button> |
                <a asp-action="Index" class="btn button-return"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
        </div>
    </div>
</form>