@model ProductCatalog.Application.DTOs.CategoryDTO

<h3 class="subtitle-page">Detalhes da Categoria</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="form-group mt-2">
    <a asp-action="Edit" asp-route-id="@Model.Id" title="Editar" class="btn button-sucess">
        <span><i class="fa-solid fa-pen-to-square"></i></span>
    </a> |
    <a asp-action="Index" title="Retornar ao Lista" class="btn button-return">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
</div>