:root {
    --title-color: #1E90FF;
    --text-color: #FFFFFF;
    --delete-color: #FF0000;
    --sucess-color: #32CD32;
    --info-color: #00BFFF;
    --return-color: #363636;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.title-page {
    color: var(--title-color);
    text-align: center;
}

.subtitle-page {
    color: var(--title-color);
}

.title-delete {
    color: var(--delete-color);
}

.title-center {
    display: flex;
    justify-content: center;
}

.input-text {
    font-weight: 600;
}

.button-success {
    background-color: var(--text-color);
    color: var(--sucess-color);
    border-color: var(--sucess-color);
}

.button-success:hover {
    background-color: var(--sucess-color);
    color: var(--text-color);
    border-color: var(--sucess-color);
}

.button-info {
    background-color: var(--text-color);
    color: var(--info-color);
    border-color: var(--info-color);
}

.button-info:hover {
    background-color: var(--info-color);
    color: var(--text-color);
    border-color: var(--info-color);
}

.button-delete {
    background-color: var(--text-color);
    color: var(--delete-color);
    border-color: var(--delete-color);
}

.button-delete:hover {
    background-color: var(--delete-color);
    color: var(--text-color);
    border-color: var(--delete-color);
}

.button-return {
    background-color: var(--text-color);
    color: var(--return-color);
    border-color: var(--return-color);
}

.button-return:hover {
    background-color: var(--return-color);
    color: var(--text-color);
    border-color: var(--return-color);
}
.carousel-element {
    height: 350px;
}

.carousel-text {
    text-shadow: 0.2em 0.2em 0.2em var(--return-color);
    font-weight: 700;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
