<h1 class="title-page title-center">Catálogo de Produtos</h1>

<div id="spinnerOverlay" class="spinner-overlay">
    <div class="spinner"></div>
</div>

<div id="carouselProducts" class="carousel slide mt-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselProducts" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselProducts" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselProducts" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item carousel-element active">
            <img src="~/images/estoque-1.png" class="d-block w-100" alt="Estoque 1">
            <div class="carousel-caption d-none d-md-block carousel-text">
                <h5>Estoque</h5>
                <p>Visualize e organize seus itens no estoque.</p>
            </div>
        </div>
        <div class="carousel-item carousel-element">
            <img src="~/images/estoque-2.png" class="d-block w-100" alt="Estoque 1">
            <div class="carousel-caption d-none d-md-block carousel-text">
                <h5>Categorias</h5>
                <p>Organize seus itens por categorias.</p>
            </div>
        </div>
        <div class="carousel-item carousel-element">
            <img src="~/images/estoque-3.png" class="d-block w-100" alt="Estoque 1">
            <div class="carousel-caption d-none d-md-block carousel-text">
                <h5>Produtos</h5>
                <p>Gerencie e manipule seu estoque de produtos.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProducts" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselProducts" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>